.App {
  text-align: center;
}
.footer{
  background-color: rgb(178, 178, 247);
  padding: 5px 16px;
  position: fixed;
  bottom: 0;
width: 100%;
}
.header{
  background-color: rgb(224, 192, 253);
  display: flex;
  align-items: center;
  
}
.header ul{
  list-style: none;

}

a{
  text-decoration: none;
  font-size: 18px;
  margin-right: 15px;
}
.activeCls{
  color: rgb(59, 10, 104);
  font-weight: bold;
}